out/
input.txt
output.txt
*.class
.vscode/
*.log
*.tmp
.DS_Store
node_modules/
.env    
.idea/
*.swp
*.bak
*.old
*.orig
*.rej
*.pyc
__pycache__/    
*.sqlite3
*.db
*.iml
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.obj
*.out
*.obj
*.lib
*.pdb
*.log
*.aux
*.toc
*.gz
*.zip
*.tar
*.rar
*.7z
*.class